<template>
  <div class="login">
    <Modal :close-modal="closeModal" v-show="modalActive" />
    <form action="">
      <p>
        Don't have an account?
        <router-link :to="{ name: 'Register' }">Register</router-link>
      </p>
      <h3>Login to VueBlog</h3>
      <div class="inputs">
        <div class="input">
          <input type="text" placeholder="Email" v-model="email" />
        </div>
        <div class="input">
          <input type="password" placeholder="Password" v-model="password" />
        </div>
      </div>
      <p>
        Forgot your password?
        <router-link :to="{ name: 'ForgetPassword' }"
          >Reset Password</router-link
        >
      </p>
      <div class="btn btn-button">
        <button @click.prevent="login">Login</button>
      </div>
      <p class="error" v-show="error">{{ this.errMsg }}</p>
    </form>
    <div class="img-background"></div>
  </div>
</template>

<script>
import Modal from "../components/Modal";
import axios from "axios";
export default {
  name: "Login",
  components: { Modal },
  data() {
    return {
      email: "",
      password: "",

      error: null,
      errMsg: "",
      modalMessage: "",
      modalActive: null,
    };
  },

  methods: {
    async login() {
      const result = await axios.get(
        `http://localhost:3000/users?email=${this.email}&password=${this.password}`
      );

      this.error = false;
      this.errMsg = "";
      this.modalMessage = "Login succses";

      if (result.status == 200 && result.data.length > 0) {
        localStorage.setItem("user-info", JSON.stringify(result.data[0]));
        this.$router.push({ name: "Home" });
        return;
      }
      this.error = true;
      this.errMsg = "Account not right";
      this.modalMessage = "Account not right";
    },

    closeModal() {
      this.modalActive = !this.modalActive;
    },
  },

  mounted() {
    const users = localStorage.getItem("user-info");
    if (users) {
      this.$router.push({ name: "Home" });
    }
  },
};
</script>

<style lang="scss">
.login {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 100%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
      padding: 0 50px;
    }

    p {
      padding: 30px 0;
      font-size: 15px;
      text-align: center;

      a {
        color: #000;
      }
    }

    h3 {
      font-size: 35px;
      padding-bottom: 40px;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }

  .inputs {
    position: relative;
    max-width: 350px;
    width: 100%;

    .input {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: none;
      background-color: #f2f7f6;
      padding: 4px 4px 4px 30px;
      height: 50px;
      outline: none;
      border-radius: 4px;
    }
  }

  .img-background {
    background-image: url("../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    flex: 2;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
</style>
