<template>
  <div class="profile">
    <Modal
      v-if="modalActive"
      v-on:close-modal="closeModal"
      :modalMessage="modalMessage"
    />
    <div class="container">
      <h3>Account Settings</h3>
      <div class="profile-info">
        <div class="initials">{{ firstName }}</div>
        <!-- <div class="admin-badge">
          <span>Admin</span>
        </div> -->
        <div class="input">
          <label for="firstName">Frist Name:</label>
          <input
            type="text"
            id="firstName"
            placeholder="First Name"
            v-model="firstName"
          />
        </div>
        <div class="input">
          <label for="lastName">Last Name:</label>
          <input
            type="text"
            id="lastName"
            placeholder="LastName"
            v-model="lastName"
          />
        </div>
        <div class="input">
          <label for="userName">User Name:</label>
          <input
            type="text"
            id="userName"
            placeholder="Username"
            v-model="userName"
          />
        </div>
        <div class="input">
          <label for="email">Enail:</label>
          <input type="text" id="email" placeholder="Email" v-model="email" />
        </div>
        <div class="input type-password">
          <input
            :type="passwordType"
            placeholder="Password"
            v-model="password"
          />
          <lockIcon @click="showPassword" />
        </div>
        <div class="btn btn-button">
          <button @click.prevent="updateProfile">Save Change</button>
        </div>
        <!-- <p class="error" v-show="error">{{ this.errMsg }}</p> -->
      </div>
    </div>
  </div>
</template>

<script>
import lockIcon from "../assets/Icons/lock-alt-solid.svg";
import Modal from "../components/Modal";
import axios from "axios";
export default {
  name: "Profile",
  components: { Modal, lockIcon },
  data() {
    return {
      modalActive: null,
      modalMessage: "",

      userName: "",
      firstName: "",
      lastName: "",
      email: "",
      password: "",

      passwordType: "password",
    };
  },

  methods: {
    async updateProfile() {
      const result = await axios.put("http://localhost:3000/users/" + this.id, {
        firstName: this.firstName,
        lastName: this.lastName,
        userName: this.userName,
        email: this.email,
        password: this.password,
      });

      if (result.status == 200) {
        localStorage.setItem("user-info", JSON.stringify(result.data));
        this.modalActive = !this.modalActive;
        this.modalMessage = "Changes were saved!";
        // this.$router.push({ name: "Home" });
        return;
      }
    },

    // Close Modal
    closeModal() {
      this.modalActive = !this.modalActive;
    },

    // Show/hide password
    showPassword() {
      this.passwordType =
        this.passwordType === "password" ? "text" : "password";
    },
  },

  async mounted() {
    const users = localStorage.getItem("user-info");
    this.firstName = JSON.parse(users).firstName;
    this.lastName = JSON.parse(users).lastName;
    this.userName = JSON.parse(users).userName;
    this.email = JSON.parse(users).email;
    this.password = JSON.parse(users).password;
    this.id = JSON.parse(users).id;

    // const result = await axios.get("http://localhost:3000/users/2");
    // console.log(this.$route.params.id);
    // console.log(result);
  },
};
</script>

<style lang="scss" scoped>
.profile {
  .container {
    max-width: 1000px;
    padding: 60px 25px;

    h3 {
      text-align: center;
      font-size: 30px;
    }
  }
  .profile-info {
    border-radius: 8px;
    padding: 32px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 32px auto;

    .initials {
      position: static;
      width: 80px;
      height: 80px;
      font-size: 32px;
      background-color: #303030;
      color: #fff;
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    .admin-badge {
      text-align: center;
      margin: 10px 0;

      span {
        background: #303030;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
        display: inline-block;
      }
    }

    .input {
      margin: 16px 0;

      label {
        font-size: 14px;
        display: block;
        padding-bottom: 6px;
      }

      input {
        width: 100%;
        border: none;
        background-color: #f2f7f6;
        padding: 8px;
        height: 50px;
        outline: none;
      }
    }

    .type-password {
      display: flex;
      position: relative;

      svg {
        width: 17px;
        position: absolute;
        right: 2%;
        top: 17px;
        cursor: pointer;
      }
    }
  }
}
</style>
