<template>
  <div class="login register">
    <Modal v-if="modalActive" v-on:close-modal="closeModal" />
    <Loading v-if="loading" />
    <form action="">
      <p>
        Already have an account?
        <router-link :to="{ name: 'Login' }">Login</router-link>
      </p>
      <h3>Register account</h3>
      <div class="inputs">
        <div class="input">
          <input type="text" placeholder="First Name" v-model="firstName" />
        </div>
        <div class="input">
          <input type="text" placeholder="Last Name" v-model="lastName" />
        </div>
        <div class="input">
          <input type="text" placeholder="Username" v-model="userName" />
        </div>
        <div class="input">
          <input type="text" placeholder="Email" v-model="email" />
        </div>
        <div class="input">
          <input type="password" placeholder="Password" v-model="password" />
        </div>
      </div>
      <div class="btn btn-button">
        <button @click.prevent="register">Sign Up</button>
      </div>
      <p class="error" v-show="error">{{ this.errMsg }}</p>
    </form>
    <div class="img-background"></div>
  </div>
</template>

<script>
import Modal from "../components/Modal";
import Loading from "../components/Loading";
import axios from "axios";
export default {
  name: "Register",
  components: { Modal, Loading },

  data() {
    return {
      modalActive: null,
      modalMessage: "",
      loading: null,

      error: null,
      errMsg: "",

      firstName: "",
      lastName: "",
      userName: "",
      email: "",
      password: "",
    };
  },
  methods: {
    async register() {
      if (
        this.firstName !== "" ||
        this.lastName !== "" ||
        this.userName !== "" ||
        this.email !== "" ||
        this.password !== ""
      ) {
        this.error = false;
        this.errMsg = "";

        const result = await axios.post("http://localhost:3000/users", {
          firstName: this.firstName,
          lastName: this.lastName,
          userName: this.userName,
          email: this.email,
          password: this.password,
        });

        if (result.status == 201) {
          localStorage.setItem("user-info", JSON.stringify(result.data));
          this.$router.push({ name: "Login" });
          return;
        }
      }
      this.error = true;
      this.errMsg = "Please fill out all the fields";
    },
    closeModal() {
      this.modalActive = !this.modalActive;
    },
  },

  mounted() {
    const users = localStorage.getItem("user-info");
    if (users) {
      this.$router.push({ name: "Home" });
    }
  },
};
</script>

<style lang="scss">
.register {
  button {
    margin-top: 30px;
  }
}
.login {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 100%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
      padding: 0 50px;
    }

    p {
      padding: 30px 0;
      font-size: 15px;
      text-align: center;

      a {
        color: #000;
      }
    }

    h3 {
      font-size: 35px;
      padding-bottom: 40px;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }

  .inputs {
    position: relative;
    max-width: 350px;
    width: 100%;

    .input {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: none;
      background-color: #f2f7f6;
      padding: 4px 4px 4px 30px;
      height: 50px;
      outline: none;
      border-radius: 4px;
    }
  }

  .img-background {
    background-image: url("../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    flex: 2;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
</style>
