<template>
  <div class="create-post">
    <div class="container">
      <h3>Create New Posts</h3>
      <div class="new-post">
        <div class="input">
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            placeholder="Enter Title"
            v-model="blogs.title"
          />
        </div>
        <div class="input-group">
          <div class="input">
            <label for="category">Category:</label>
            <input
              type="text"
              id="category"
              placeholder="Enter Category"
              v-model="blogs.category"
            />
          </div>
          <div class="input">
            <label for="date">Date:</label>
            <input
              type="text"
              id="date"
              placeholder="Enter date"
              v-model="blogs.date"
            />
          </div>
        </div>
        <div class="input">
          <label for="content">Content:</label>
          <vue-editor v-model="blogs.content" />
        </div>
        <div class="input">
          <label for="image">Image:</label>
          <input
            type="text"
            id="image"
            placeholder="Enter Link Image"
            v-model="blogs.image"
          />
        </div>
        <div class="btn btn-button">
          <button @click.prevent="updatePost">Save Change</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import axios from "axios";
export default {
  name: "CreatPost",
  components: { VueEditor },
  data() {
    return {
      error: null,
      errMsg: "",

      blogs: {
        title: "",
        category: "",
        date: "",
        content: "",
        image: "",
      },
    };
  },
  methods: {
    // Add Post
    async updatePost() {
      const updateResult = await axios.put(
        "http://localhost:3000/posts/" + this.$route.params.id,
        {
          title: this.blogs.title,
          category: this.blogs.category,
          date: this.blogs.date,
          content: this.blogs.content,
          image: this.blogs.image,
        }
      );
      if (updateResult.status == 200) {
        this.$router.push({ name: "Blogs" });
      }
    },
  },

  async mounted() {
    console.log(this.$route.params.id);
    const result = await axios.get(
      "http://localhost:3000/posts/" + this.$route.params.id
    );
    this.blogs = result.data;
  },
};
</script>

<style lang="scss" scoped>
.create-post {
  .container {
    max-width: 1000px;
    padding: 60px 25px;

    h3 {
      font-size: 30px;
      text-align: center;
    }

    button {
      margin-top: 20px;
    }
  }

  .new-post {
    padding: 32px;
    display: flex;
    flex-direction: column;

    @media (max-width: 750px) {
      padding: 0;
    }

    .input-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    .input {
      margin: 16px 0;

      label {
        font-size: 14px;
        display: block;
        padding-bottom: 6px;
      }

      input {
        width: 100%;
        border: none;
        background-color: #f2f7f6;
        padding: 8px;
        height: 50px;
        outline: none;
        border-radius: 4px;
      }
    }
  }
}
</style>
