<template>
  <div class="login register">
    <form action="">
      <h3>Update account</h3>
      <div class="inputs">
        <div class="input">
          <input
            type="text"
            placeholder="First Name"
            v-model="users.firstName"
          />
        </div>
        <div class="input">
          <input type="text" placeholder="Last Name" v-model="users.lastName" />
        </div>
        <div class="input">
          <input type="text" placeholder="Username" v-model="users.userName" />
        </div>
        <div class="input">
          <input type="text" placeholder="Email" v-model="users.email" />
        </div>
        <div class="input type-password">
          <input
            :type="passwordType"
            placeholder="Password"
            v-model="users.password"
          />
          <lockIcon @click="showPassword" />
        </div>
      </div>
      <div class="btn btn-button">
        <button @click.prevent="update">Update</button>
      </div>
      <p class="error" v-show="error">{{ this.errMsg }}</p>
    </form>
  </div>
</template>

<script>
import lockIcon from "../assets/Icons/lock-alt-solid.svg";
import axios from "axios";
export default {
  name: "Register",
  components: { lockIcon },

  data() {
    return {
      error: null,
      errMsg: "",

      users: {
        firstName: "",
        lastName: "",
        userName: "",
        email: "",
        password: "",
      },

      passwordType: "password",
    };
  },
  methods: {
    async update() {
      const resultUp = await axios.put(
        "http://localhost:3000/users/" + this.$route.params.id,
        {
          firstName: this.users.firstName,
          lastName: this.users.lastName,
          userName: this.users.userName,
          email: this.users.email,
          password: this.users.password,
        }
      );

      if (resultUp.status == 200) {
        this.$router.push({ name: "ListUser" });
      }
    },

    // show hide password
    showPassword() {
      this.passwordType =
        this.passwordType === "password" ? "text" : "password";
    },
  },

  async mounted() {
    const result = await axios.get(
      "http://localhost:3000/users/" + this.$route.params.id
    );
    this.users = result.data;
  },
};
</script>

<style lang="scss">
.register {
  button {
    margin-top: 30px;
  }
}
.login {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 100%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
      padding: 0 50px;
    }

    p {
      padding: 30px 0;
      font-size: 15px;
      text-align: center;

      a {
        color: #000;
      }
    }

    h3 {
      font-size: 35px;
      padding-bottom: 40px;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }
  .type-password {
    display: flex;
    position: relative;

    svg {
      width: 17px;
      position: absolute;
      right: 2%;
      top: 17px;
      cursor: pointer;
    }
  }

  .inputs {
    position: relative;
    max-width: 350px;
    width: 100%;

    .input {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: none;
      background-color: #f2f7f6;
      padding: 4px 4px 4px 30px;
      height: 50px;
      outline: none;
      border-radius: 4px;
    }
  }

  .img-background {
    background-image: url("../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    flex: 2;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
</style>
