<template>
  <div class="container">
    <div class="blogs-page">
      <div class="toogle-head">
        <div class="filter">
          <span><strong>Filter Post: </strong></span>
          <select @change="limitBlog($event)">
            <option value="100">100</option>
            <option value="50">50</option>
            <option value="20">20</option>
            <option value="10">10</option>
            <option value="5">5</option>
          </select>
        </div>
        <div v-if="users" class="toggle-edit">
          <span>Toggle Editing Post</span>
          <input type="checkbox" v-model="editpost" />
        </div>
      </div>
      <div class="blog-card">
        <div
          class="blog-card-inner"
          v-for="(blog, index) in allBlogs"
          :key="index"
        >
          <div v-if="editpost" class="icon-edit">
            <router-link :to="'/update-post/' + blog.id">
              <Edit />
            </router-link>
            <Delete @click="deleteBlog(blog.id)" />
          </div>
          <img :src="`${blog.image}`" alt="" />
          <div class="info">
            <span class="category">{{ blog.category }}</span>
            <router-link :to="'/post/' + blog.id"
              ><h4>{{ blog.title }}</h4></router-link
            >
            <p class="post-date">Posted on: {{ blog.date }}</p>
            <router-link :to="'/post/' + blog.id" class="read-more"
              >View the post</router-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Edit from "../assets/Icons/edit-regular.svg";
import Delete from "../assets/Icons/trash-regular.svg";
export default {
  name: "blogs",
  data() {
    return {
      // posts: [],
      editpost: null,
    };
  },
  components: { Edit, Delete },

  methods: {
    ...mapActions(["fetchBlogs", "deleteBlog", "limitBlog"]),

    editPost() {
      this.editpost = !this.editpost;
    },

    // Delete Post
    // async deletePost(id) {
    //   await axios
    //     .delete("http://localhost:3000/posts/" + id)
    //     .then((response) => {
    //       const index = this.posts.map((data) => data.id).indexOf(id);
    //       this.posts.splice(index, 1);
    //       console.log(response);
    //     });
    // },
  },

  computed: {
    ...mapGetters(["allBlogs"]), // Get data ở store

    users() {
      return localStorage.getItem("user-info");
    },
  },

  created() {
    this.fetchBlogs();
  },
};
</script>
<style lang="scss">
.blogs-page {
  position: relative;

  .blog-card {
    padding-top: 50px;
  }
  .toogle-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    .toggle-edit {
      padding-top: 0;
    }
  }
}

.blog-card-inner {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  min-height: 360px;
  transition: all 0.5s ease;

  .icon-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    z-index: 11;

    a {
      color: #303030;
    }

    svg {
      height: 22px;
      width: 22px;
      margin-left: 10px;
      background: #fff;
      padding: 4px;
      border-radius: 10%;
    }
  }

  img {
    display: block;
    border-radius: 8px 8px 0 0;
    z-index: 1;
    width: 100%;
    min-height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .info {
    padding: 25px;
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    flex: 1;

    .category {
      font-size: 13px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
      color: #877f7f;
    }

    h4 {
      margin-bottom: 10px;
    }

    a.read-more {
      display: flex;
      margin-top: auto;
      transition: 0.3s;

      h4 {
        color: #303030;
      }
    }

    a {
      text-decoration: none;
    }

    .post-date {
      margin-bottom: 10px;
    }
  }

  &:hover {
    transform: rotate(-1deg) scale(1.01);
  }
}

.toggle-edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 50px 0 0 0;

  span {
    margin-right: 16px;

    @media (max-width: 765px) {
      display: none;
    }
  }

  input[type="checkbox"] {
    position: relative;
    border: none;
    -webkit-appearance: none;
    background-color: #fff;
    outline: none;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }

  input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: #303030;
    transform: scale(1.1);
    transition: 0.5s ease all;
  }

  input:checked[type="checkbox"]:before {
    background-color: #ccc;
    left: 45px;
  }
}
</style>
