<template>
  <div class="create-post">
    <div class="container">
      <h3>Create New Posts</h3>
      <div class="new-post">
        <div class="input">
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            placeholder="Enter Title"
            v-model="title"
          />
        </div>
        <div class="input-group">
          <div class="input">
            <label for="category">Category:</label>
            <input
              type="text"
              id="category"
              placeholder="Enter Category"
              v-model="category"
            />
          </div>
          <div class="input">
            <label for="date">Date:</label>
            <input
              type="text"
              id="date"
              placeholder="Enter date"
              v-model="date"
            />
            <datepicker v-model="date" format="dd-MM-yyyy"></datepicker>
          </div>
        </div>
        <div class="input">
          <label for="content">Content:</label>
          <vue-editor v-model="content" />
        </div>
        <div class="input">
          <label for="image">Image:</label>
          <input
            type="text"
            id="image"
            placeholder="Enter Link Image"
            v-model="image"
          />
        </div>
        <div class="btn btn-button">
          <button @click.prevent="updatePost">Save Change</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
// import { mapActions } from "vuex";
import axios from "axios";
export default {
  name: "CreatPost",
  components: { Datepicker },
  data() {
    return {S
      errMsg: "",

      title: "",
      category: "",
      date: "",
      content: "",
      image: "",
    };
  },
  methods: {
    // Add Post
    async updatePost() {
      if (
        this.title !== "" ||
        this.date !== "" ||
        this.content !== "" ||
        this.category !== "" ||
        this.image !== ""
      ) {
        this.error = false;
        this.errMsg = "";

        // this.addBlog(
        //   this.title,
        //   this.category,
        //   this.content,
        //   this.date,
        //   this.image
        // );

        const result = await axios.post("http://localhost:3000/posts", {
          title: this.title,
          category: this.category,
          date: this.date,
          content: this.content,
          image: this.image,
        });

        if (result.status == 201) {
          localStorage.setItem("blogs-info", JSON.stringify(result.data));
          (this.title = ""),
            (this.category = ""),
            (this.date = ""),
            (this.content = ""),
            (this.image = "");
        }
      }
      this.error = true;
      this.errMsg = "Please fill out all the fields";
    },
    // fileChange(e) {
    //   // this.file = this.$refs.blogPhoto.files;
    //   // console.log(this.file);

    //   const files = e.target.files || e.dataTransfer.files;
    //   if (!files.length) return;
    //   this.createImage(files[0]);
    // },
    // createImage(file) {
    //   // eslint-disable-next-line no-unused-vars
    //   const image = new Image(100, 200);
    //   const reader = new FileReader();
    //   const vm = this;

    //   reader.onload = (e) => {
    //     vm.image = e.target.result;
    //   };
    //   reader.readAsDataURL(file);
    // },
    // removeImage() {
    //   this.image = "";
    // },
  },
};
</script>

<style lang="scss" scoped>
.vdp-datepicker input {
  width: 100%;
}
.date-picker {
  width: 100%;
  border: none;
  background-color: #f2f7f6;
  padding: 8px;
  height: 50px;
  outline: none;
  border-radius: 4px;
  input[type="text"] {
    width: 100%;
    border: none;
    background-color: #f2f7f6;
    padding: 8px;
    height: 50px;
    outline: none;
    border-radius: 4px;
  }
}
.create-post {
  .container {
    max-width: 1000px;
    padding: 60px 25px;

    h3 {
      font-size: 30px;
      text-align: center;
    }

    button {
      margin-top: 20px;
    }
  }

  .new-post {
    padding: 32px;
    display: flex;
    flex-direction: column;

    @media (max-width: 750px) {
      padding: 0;
    }

    .input-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    .input {
      margin: 16px 0;

      label {
        font-size: 14px;
        display: block;
        padding-bottom: 6px;
      }

      input {
        width: 100%;
        border: none;
        background-color: #f2f7f6;
        padding: 8px;
        height: 50px;
        outline: none;
        border-radius: 4px;
      }

      .vdp-datepicker {
        input {
          width: 100%;
          border: none;
          background-color: #f2f7f6;
          padding: 8px;
          height: 50px;
          outline: none;
          border-radius: 4px;
        }
      }
    }
  }
}
</style>
