<template>
  <div class="home">
    <div class="container">
      <Blogpost :post="welcomeScreen" />
      <Blogpost
        :post="post"
        v-for="(post, index) in sampleBlogs"
        :key="index"
      />
      <div class="blog-cards">
        <div class="title-blog-card">
          <h2>View More Post</h2>
          <router-link :to="{ name: 'Blogs' }">View all post</router-link>
        </div>
        <div v-if="users" class="toggle-edit">
          <span>Toggle Editing Post</span>
          <input type="checkbox" v-model="editPost" />
        </div>
        <div class="blog-card">
          <Blogcard
            :post="post"
            v-for="(post, index) in allBlogs1"
            :key="index"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Blogpost from "../components/BlogPost";
import Blogcard from "../components/BlogCard";
import axios from "axios";
export default {
  name: "Home",
  components: { Blogpost, Blogcard },
  data() {
    return {};
  },

  methods: {
    ...mapActions(["allBlogHome"]),
    // Delete Post
    async deletePost(id) {
      await axios
        .delete("http://localhost:3000/posts/" + id)
        .then((response) => {
          const i = this.postHome.map((data) => data.id).indexOf(id);
          this.postHome.splice(i, 1);
          console.log(response);
        });
    },
  },

  computed: {
    ...mapGetters(["allBlogs"]), // Get data ở store

    welcomeScreen() {
      return this.$store.state.welcomeScreen;
    },

    sampleBlogs() {
      return this.$store.state.sampleBlogs;
    },

    editPost() {
      // Feature Click edit post
      return this.$store.state.editPost;
    },

    users() {
      return localStorage.getItem("user-info");
    },
  },

  created() {
    this.allBlogHome();
  },
};
</script>

<style lang="scss" scoped>
.blog-cards {
  @media (max-width: 1024px) {
    padding: 0 25px;
  }

  .toggle-edit {
    padding: 0 0 30px 0;
  }
}

.title-blog-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 30px 0;

  h2 {
    font-size: 40px;

    @media (max-width: 700px) {
      font-size: 22px;
    }
  }

  a {
    transition: 0.3s;
    &:hover {
      letter-spacing: 2px;
    }
  }
}
</style>
