<template>
  <div class="list-user">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(users, index) in allUsers" :key="index">
            <td>{{ users.id }}</td>
            <td>{{ users.firstName }}</td>
            <td>{{ users.lastName }}</td>
            <td>{{ users.userName }}</td>
            <td>{{ users.email }}</td>
            <td>{{ users.password }}</td>
            <td>
              <router-link :to="'/update/' + users.id" class="update"
                >Update</router-link
              >
              <button @click="deleteUser(users.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "ListUser",
  data() {
    return {};
  },
  components: {},
  created() {
    this.fetchUsers();
  },
  methods: {
    ...mapActions(["fetchUsers", "deleteUser"]),
  },

  computed: {
    ...mapGetters(["allUsers"]),
  },
};
</script>

<style lang="scss" scoped>
table {
  width: 100%;

  td,
  th {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .update {
    width: 50%;
    display: inline-block;
  }

  button {
    background: #303030;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
  }
}

.header_mobile,
.mobile {
  display: none;
}

.all_team .et_pb_blurb_content .et_pb_blurb_container h3 {
  font-weight: 700;
}

@media screen and (max-width: 1800px) {
  .border_section_about.border_section::after,
  .border_section_about.border_section::before {
    width: 31.5%;
  }

  .border_section::after,
  .border_section::before {
    width: 41%;
  }

  .slider .owl-nav,
  .nav-swiper {
    top: 88%;
  }
}

@media screen and (max-width: 1750px) {
  .nav-swiper,
  .slider .owl-nav {
    width: 33%;
    top: 91%;
  }
}

@media screen and (max-width: 1650px) {
  .nav-swiper,
  .slider .owl-nav {
    width: 34%;
    top: 91%;
  }
}

@media screen and (max-width: 1550px) {
  .nav-swiper,
  .slider .owl-nav {
    top: 90%;
    width: 30%;
  }

  .border_section_about.border_section::after,
  .border_section_about.border_section::before {
    width: 29.5%;
  }

  .border_section::after,
  .border_section::before {
    width: 39%;
  }

  .nav-swiper .swiper-button-next,
  .nav-swiper .swiper-button-prev {
    width: 80px;
  }

  .teams_slides_popup__inner img {
    height: 165px;
    width: 150px;
  }

  .all_team .et_pb_blurb_content .et_pb_blurb_description p {
    max-height: 114px;
    overflow: hidden;
  }

  .border_section_about.border_section::before,
  .border_section_about.border_section::after {
    width: 28%;
  }
}

@media screen and (max-width: 1330px) {
  .border_section_about.border_section::before,
  .border_section_about.border_section::after {
    width: 26%;
  }

  .nav-swiper,
  .slider .owl-nav {
    top: 93%;
    width: 30%;
  }

  .all_team .et_pb_column .et_pb_module {
    width: 33.333%;
  }

  .all_team .et_pb_image_wrap img {
    width: 100%;
  }

  #menu-main-menu li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1230px) {
  /* Header */
  .et_pb_menu_0_tb_header.et_pb_menu ul li a {
    font-size: 17px;
  }

  .text_border h2 {
    font-size: 40px;
  }

  #menu-main-menu li:not(:last-child) {
    padding-right: 25px;
  }
}

@media screen and (max-width: 1024px) {
  /*Header*/
  header .et_pb_image img {
    width: 190px;
  }
  #menu-main-menu li:not(:last-child) {
    padding-right: 15px;
  }

  .border_section::after,
  .border_section::before {
    width: 40%;
  }

  .border_section_about .text_border h2 {
    font-size: 34px;
  }

  .form-contact-page input,
  .form-contact-page textarea {
    width: 100% !important;
  }

  .info_contact ul {
    padding: 40px 0 !important;
  }

  .text_border h2 {
    font-size: 30px;
    width: 54%;
    margin: 0 auto;
    line-height: normal;
    padding-top: 10px;
  }

  .all_team {
    grid-template-columns: repeat(3, 1fr);
  }

  .all_team .et_pb_blurb_content .et_pb_blurb_description p {
    max-height: none;
    overflow: inherit;
  }

  .nav-swiper,
  .slider .owl-nav {
    width: 46%;
    top: 94%;
  }

  .teams_slides_popup__inner img {
    height: 200px;
    width: 160px;
  }

  .page-id-12 .background_email_about {
    padding-left: 30px !important;
    padding-right: 30px !important;
    display: flex;
    align-items: center;
  }

  .background_email_about .et_pb_module_header {
    font-size: 30px !important;
    line-height: normal !important;
  }

  .close_popup {
    top: 4%;
    right: 6%;
  }

  .row_flex {
    display: none;
  }

  .title_commingsoon {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header_mobile,
  .mobile {
    display: block;
  }
  .header_desktop,
  .desktop {
    display: none;
  }

  .header_mobile .et_pb_row {
    max-width: 100%;
    width: 100%;
  }
  .header_mobile .et_pb_menu_1_tb_header {
    background-color: var(--color-black) !important;
    padding: 30px 20px;
  }

  .header_mobile .et_pb_menu__logo img {
    width: 50%;
  }

  .banner-home .et_pb_slide_description {
    padding: 40% 0% 10% 0% !important;
    height: 100% !important;
  }

  .section_background {
    flex-direction: column;
    padding-bottom: 50px !important;
  }

  .banner-home.mobile {
    display: none !important;
  }

  .banner-home.desktop {
    display: block !important;
  }

  .border_section::after,
  .border_section::before {
    width: 35%;
  }

  .home div.et_pb_section.et_pb_section_3 {
    background-image: url(/wp-content/uploads/2021/11/background-freaking-mb.png) !important;
  }

  .all_team {
    grid-template-columns: repeat(2, 1fr);
  }

  .all_team .et_pb_blurb_content .et_pb_blurb_description p {
    max-height: none;
    overflow: inherit;
  }

  .all_team .et_pb_column {
    width: 100% !important;
    margin-right: 0 !important;
  }

  .all_team .et_pb_column .et_pb_module {
    width: 50%;
  }

  .all_team .et_pb_image_wrap img {
    height: 370px;
  }

  .teams_slides_popup__inner img {
    height: 200px;
    width: 170px;
  }

  .nav-swiper,
  .slider .owl-nav {
    width: 65%;
    top: 90%;
  }

  .background_email_about {
    flex-direction: column;
  }

  .close_popup {
    top: 2%;
    right: 3%;
  }

  /* Footer */
  .footer {
    padding-top: 0 !important;
    flex-direction: column;
  }

  .footer .et_pb_column_1_4 {
    width: 100% !important;
  }

  .footer .et_pb_column_1_tb_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .footer .et_pb_module.et_pb_image {
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  .banner-home .et_pb_module {
    padding-top: 54px;
  }

  .page_404 {
    padding-top: 150px;
  }
}

@media screen and (max-width: 767px) {
  /* Header */

  .header_mobile .et_pb_row {
    max-width: 100%;
    width: 100%;
  }
  .header_mobile .et_pb_menu_1_tb_header {
    background-color: var(--color-black) !important;
    padding: 30px 20px;
  }

  .header_mobile .et_pb_menu__logo img {
    width: 50%;
  }

  /* Contact Page */
  .info_contact li a {
    font-size: 16px !important;
  }

  /* About Page */
  .all_team .et_pb_column .et_pb_module,
  .all_team .et_pb_image_wrap img {
    width: 100%;
  }

  .all_team .et_pb_blurb_container h4 {
    line-height: normal;
  }

  .all_team .et_pb_blurb_container p {
    max-width: none;
    overflow: inherit;
  }

  .all_team .et_pb_column {
    margin-bottom: 0 !important;
    width: 100% !important;
  }

  .form_email_about input[type="email"] {
    margin-bottom: 10px;
  }

  .form_email_about #submit_about {
    position: relative;
    width: 100%;
    border-radius: 5px;
  }

  .teams_slides_popup {
    width: 90%;
    margin: 0 auto;
  }

  .border_section_about .text_border h2,
  .text_border h2 {
    font-size: 24px;
    padding-top: 10px;
  }

  .teams_slides_popup__inner {
    padding: 35px;
  }

  .teams_slides_popup__inner img {
    height: 200px;
    width: 150px;
  }

  .nav-swiper,
  .slider .owl-nav {
    width: 100%;
  }

  .text_team_slide span {
    font-size: 18px;
  }

  .nav-swiper .swiper-button-next,
  .nav-swiper .swiper-button-prev,
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    width: 70px;
    margin: 0 10px;
  }

  .background_email_about {
    flex-direction: column;
  }

  .close_popup {
    top: 2%;
    right: 3%;
  }

  /* Home */
  .banner-home .et_pb_slide_description {
    padding: 105% 0% 5% 0% !important;
  }

  .banner-home .et_pb_slides .et_pb_slide {
    height: 644px;
  }

  .section_background {
    flex-direction: column;
    padding-bottom: 50px !important;
  }

  .header_mobile,
  .mobile {
    display: block;
  }
  .header_desktop,
  .desktop {
    display: none;
  }

  .et_pb_module_header,
  .et_pb_module_header a {
    font-size: 24px !important;
  }

  .home .et_pb_blurb_description p,
  .et_pb_text_inner p {
    font-size: 12px;
    line-height: 20px !important;
  }

  .title_above_logo h2 {
    font-size: 14px;
    line-height: 28px;
  }

  .icon_star i,
  .icon_star span {
    font-size: 16px !important;
  }

  .section_hyper_color::before {
    background-image: url(/wp-content/uploads/2021/08/monogram-veryplay-mb-1.png) !important;
  }

  .section_hyper_color::after {
    background-image: url(/wp-content/uploads/2021/08/monogram-veryplay-mb-2.png) !important;
    bottom: 35% !important;
  }

  .et_pb_column .et_pb_module {
    margin-bottom: 0 !important;
  }

  .border_section::before,
  .border_section::after {
    width: 25% !important;
  }

  .home div.et_pb_section.et_pb_section_3 {
    background-image: url(/wp-content/uploads/2021/11/background-freaking-mb.png) !important;
  }

  /* Footer */
  .footer {
    padding-top: 0 !important;
    flex-direction: column;
  }

  .footer .et_pb_column_1_4 {
    width: 100% !important;
  }

  .footer .et_pb_column_1_tb_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .footer h4.et_pb_module_header {
    font-size: 18px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
  }

  .footer_menu li a {
    font-size: 14px !important;
    line-height: 26px !important;
  }

  .footer .et_pb_module.et_pb_image {
    text-align: center;
  }

  .footer .text_footer_form {
    padding-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .et_pb_blurb_0_tb_foote h4 {
    padding-bottom: 0 !important;
    font-size: 16px !important;
  }

  .title_contact p {
    font-size: 20px;
    line-height: 25px !important;
  }
}

@media screen and (max-width: 414px) {
  .nav-swiper {
    top: 84%;
  }
}

@media screen and (max-width: 375px) {
  .nav-swiper {
    top: 83%;
  }
}

@media screen and (max-width: 320px) {
  .teams_slides_popup__inner {
    padding: 25px;
  }

  .teams_slides_popup__inner img {
    height: 190px;
    width: 155px;
  }
}
</style>
