<template>
  <div class="post-single">
    <div class="container">
      <router-link to="/blogs">Back</router-link>
      <h2>{{ blogDetail.title }}</h2>
      <div class="post-meta">
        <p class="post-date">{{ blogDetail.date }}</p>
        |
        <p class="post-cate">{{ blogDetail.category }}</p>
      </div>
      <img :src="`${blogDetail.image}`" alt="" />
      <div class="post-content" v-html="blogDetail.content"></div>
      <div id="fb-root"></div>
      <script
        async
        defer
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6"
      ></script>

      <!-- Your embedded comments code -->
      <div
        class="fb-comment-embed"
        data-href="https://www.facebook.com/zuck/posts/10102735452532991?comment_id=1070233703036185"
        data-width="500"
      ></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "PostDetail",
  data() {
    return {
      blogDetail: [],
    };
  },

  async mounted() {
    const result = await axios.get(
      "http://localhost:3000/posts/" + this.$route.params.id
    );
    this.blogDetail = result.data;
  },
};
</script>

<style lang="scss" scoped>
.post-single {
  .container {
    max-width: 1000px;
    padding: 60px 25px;

    h2 {
      font-size: 30px;
      margin-bottom: 15px;
    }

    .post-meta {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      p {
        margin-right: 15px;
        font-size: 13px;
        background: #303030;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
      }

      .post-cate {
        margin-left: 15px;
      }
    }

    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
      border-radius: 6px;
    }

    .post-content {
      padding: 30px 0;
    }
  }
}
</style>
