<template>
  <div class="blog-post">
    <div class="blog-post-inner">
      <div class="post-content">
        <!-- <h2 v-if="post.welcomeScreen">{{ post.title }}</h2> -->
        <h2>{{ post.title }}</h2>
        <p v-if="post.welcomeScreen">{{ post.blogPost }}</p>
        <p v-else>{{ post.content }}</p>
        <router-link :to="{ name: 'Login' }" v-if="post.welcomeScreen"
          >Register/Login</router-link
        >
        <router-link to="" v-else>View Post</router-link>
      </div>
      <div class="post-photo">
        <img
          v-if="post.welcomeScreen"
          :src="require(`../assets/blogPhotos/${post.photo}.jpg`)"
          alt=""
        />
        <img
          v-else
          :src="require(`../assets/blogPhotos/${post.image}.jpg`)"
          alt=""
        />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Blogpost",
  props: ["post"],
  data() {
    return {
      blogHome: [],
    };
  },
  async mounted() {
    const result = await axios.get("http://localhost:3000/posts?_limit=4");
    this.blogHome = result.data;
    console.log(this.blogHome);
  },
};
</script>

<style lang="scss" scoped>
.blog-post {
  position: relative;

  &-inner {
    display: flex;
    align-items: center;

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  .post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
    flex: 0 0 auto;
    order: 2;
    padding: 40px 80px;
    flex: 0 0 auto;

    @media (max-width: 1024px) {
      max-width: 465px;
    }

    @media (max-width: 768px) {
      max-width: 375px;
      padding: 0 25px;
    }

    @media (max-width: 700px) {
      padding: 30px;
    }

    h2 {
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    a {
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  .post-photo {
    position: relative;
    flex: 1 0 0%;
    max-height: 500px;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &:nth-child(even) {
    .post-content {
      order: 1;
      @media (max-width: 700px) {
        order: 3;
      }
    }
    .post-photo {
      order: 2;
    }
  }

  &:first-child {
    background-color: #303030;

    .post-content {
      color: #fff;
    }

    a {
      color: #fff;
    }
  }
}
</style>
