<template>
  <div class="blog-card-inner">
    <div v-if="editPost" class="icon-edit">
      <router-link :to="'/update-post/' + post.id">
        <Edit />
      </router-link>
      <Delete @click="deleteBlog(post.id)" />
    </div>
    <img :src="`${post.image}`" alt="" />
    <div class="info">
      <span class="category">{{ post.category }}</span>
      <router-link :to="'/post/' + post.id"
        ><h4>{{ post.title }}</h4></router-link
      >
      <p class="post-date">Posted on: {{ post.date }}</p>
      <router-link :to="'/post/' + post.id" class="read-more"
        >View the post</router-link
      >
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Edit from "../assets/Icons/edit-regular.svg";
import Delete from "../assets/Icons/trash-regular.svg";
export default {
  name: "Blogcard",
  props: ["post"],
  data() {
    return {};
  },
  components: { Edit, Delete },

  computed: {
    ...mapActions(["deleteBlog"]),

    editPost() {
      return this.$store.state.editPost;
    },
  },

  // async mounted() {
  //   const result = await axios.get("http://localhost:3000/posts");
  //   this.posts = result.data;
  // },
};
</script>

<style lang="scss">
.blog-card-inner {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  min-height: 360px;
  transition: all 0.5s ease;

  .icon-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    z-index: 111;

    svg {
      height: 22px;
      width: 22px;
      margin-left: 10px;
      background: #fff;
      padding: 4px;
      border-radius: 10%;
    }
  }

  img {
    display: block;
    border-radius: 8px 8px 0 0;
    z-index: 1;
    width: 100%;
    min-height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .info {
    padding: 25px;
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    height: 100%;

    h4 {
      margin-bottom: 10px;
    }

    a {
      display: flex;
      margin-top: auto;
      transition: 0.3s;

      &:hover {
        letter-spacing: 2px;
      }
    }
  }

  &:hover {
    transform: rotate(-1deg) scale(1.01);
  }
}
</style>
