<template>
  <div class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="logo-footer">
          <router-link to="">FireBlog</router-link>
        </div>
        <div class="menu-footer">
          <ul>
            <router-link :to="{ name: 'Home' }">Home</router-link>
            <router-link :to="{ name: 'Blogs' }">Blogs</router-link>
            <router-link v-if="users" :to="{ name: 'CreatePost' }"
              >Create Post</router-link
            >
            <router-link v-if="!users" :to="{ name: 'Login' }"
              >Login/Register</router-link
            >
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  props: ["blog"],

  computed: {
    users() {
      return localStorage.getItem("user-info");
    },
  },
};
</script>

<style lang="scss" scoped>
.footer {
  margin-top: 40px;

  &-inner {
    background-color: #303030;
    padding: 50px 0;
    color: #fff;
    text-align: center;
  }

  .logo-footer {
    a {
      color: #fff;
      padding-bottom: 20px;
      font-size: 40px;
      display: block;
      text-decoration: none;
    }
  }

  .menu-footer {
    a {
      color: #fff;
      padding: 0 10px;
      text-decoration: none;
    }
  }
}
</style>
