<template>
  <header>
    <nav class="container">
      <div class="logo">
        <router-link class="header" :to="{ name: 'Home' }"
          >VueBlogs</router-link
        >
      </div>
      <div class="nav-list" v-show="!mobile">
        <ul>
          <router-link class="link" :to="{ name: 'Home' }">Home</router-link>
          <router-link class="link" :to="{ name: 'Blogs' }">Blogs</router-link>
          <router-link v-if="users" class="link" :to="{ name: 'ListUser' }"
            >List User</router-link
          >
          <router-link v-if="users" class="link" :to="{ name: 'CreatePost' }"
            >Create Post</router-link
          >
          <router-link v-if="!users" class="link" :to="{ name: 'Login' }"
            >Login/Register</router-link
          >
        </ul>
        <div
          @click.prevent="Profile"
          v-if="users"
          class="profile"
          ref="profile"
        >
          <span class="name-short">{{ firstName }}</span>
          <div class="profile-menu" v-show="showPorfile">
            <span class="arrow-up"></span>
            <div class="info">
              <p class="initials">{{ firstName }}</p>
              <div class="right">
                <p>{{ firstName }} {{ lastName }}</p>
                <p>@{{ lastName }} {{ firstName }}</p>
                <p>{{ email }}</p>
              </div>
            </div>
            <div class="options">
              <div class="option">
                <router-link :to="{ name: 'Profile' }" class="">
                  <userIcon class="icon" />
                  <p>Profile</p>
                </router-link>
              </div>
              <div class="option">
                <div class="option" @click="logOut">
                  <logIcon class="icon" />
                  <p>LogOut</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <menuIcon @click="toggleMenu" class="menu-icon" v-show="mobile" />
    <transition name="mobile-nav">
      <ul class="mobile-nav" v-show="navMobile">
        <router-link class="link" :to="{ name: 'Home' }">Home</router-link>
        <router-link class="link" :to="{ name: 'Blogs' }">Blogs</router-link>
        <router-link class="link" :to="{ name: 'ListUser' }"
          >List User</router-link
        >
        <router-link class="link" :to="{ name: 'CreatePost' }"
          >Create Post</router-link
        >
        <router-link v-if="!users" class="link" :to="{ name: 'Login' }"
          >Login/Register</router-link
        >
      </ul>
    </transition>
  </header>
</template>

<script>
import menuIcon from "../assets/Icons/bars-regular.svg";
import userIcon from "../assets/Icons/user-alt-light.svg";
import logIcon from "../assets/Icons/sign-out-alt-regular.svg";
export default {
  name: "Navigation",
  components: {
    menuIcon,
    userIcon,
    logIcon,
  },
  data() {
    return {
      mobile: null,
      navMobile: null,
      windowWidth: null,

      showPorfile: null,

      name: "",
      firstName: "",
      lastName: "",
      email: "",
    };
  },
  created() {
    window.addEventListener("resize", this.checkScreen);
    this.checkScreen();
  },
  methods: {
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if (this.windowWidth <= 750) {
        this.mobile = true;
        return;
      }
      this.mobile = false;
      this.navMobile = false;
      return;
    },

    // Shpw menu Mobile
    toggleMenu() {
      this.navMobile = !this.navMobile;
    },

    // Show Menu Profile
    Profile(e) {
      if (e.target === this.$refs.profile) {
        this.showPorfile = !this.showPorfile;
      }
    },

    // Log Out
    logOut() {
      localStorage.clear();
      this.$router.push({ name: "Login" });
    },
  },

  mounted() {
    const users = localStorage.getItem("user-info");
    this.firstName = JSON.parse(users).firstName;
    this.lastName = JSON.parse(users).lastName;
    this.name = JSON.parse(users).userName;
    this.email = JSON.parse(users).email;
  },

  computed: {
    users() {
      return localStorage.getItem("user-info");
    },
  },

  destroyed() {
    localStorage.clear();
  },
};
</script>

<style lang="scss" scoped>
header {
  background-color: #fff;
  padding: 0 25px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.01),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 99;
}
nav {
  display: flex;
  padding: 25px 0;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;

    .header {
      font-weight: 600;
      font-size: 24px;
      color: #000;
      text-decoration: none;
    }
  }

  .nav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    ul {
      padding: 0;
      margin: 0;
      margin-right: 32px;
    }

    a:not(:last-child) {
      margin-right: 25px;
    }

    .profile {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #fff;
      background-color: #303030;

      .name-short {
        text-transform: uppercase;
        font-size: 13px;
        pointer-events: none;
      }
    }

    .profile-menu {
      position: absolute;
      top: 60px;
      right: 0;
      width: 250px;
      background-color: #303030;

      .arrow-up {
        position: absolute;
        right: 10px;
        top: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #303030;
      }
    }

    .info {
      display: flex;
      align-items: center;
      padding: 15px;
      border-bottom: 1px solid #fff;
    }

    .initials {
      font-size: 14px;
      position: static;
      width: 40px;
      height: 40px;
      background-color: #fff;
      color: #303030;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-transform: uppercase;
      font-weight: 700;
    }

    .right {
      flex: 1;
      margin-left: 24px;
      p {
        font-size: 13px;

        &:first-child {
          font-size: 15px;
        }
      }
    }

    .options {
      position: relative;
      padding: 15px;

      .option {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        a {
          display: flex;
          align-items: center;
          color: #fff;
          text-decoration: none;
        }

        svg {
          width: 18px;
          height: auto;
        }
        p {
          font-size: 14px;
          margin-left: 12px;
        }
      }
    }
  }
}

.menu-icon {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 25px;
  height: 25px;
  width: auto;
}

.mobile-nav .link {
  padding-bottom: 20px;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #000;
  padding: 25px;

  a {
    color: #fff;
  }
}
.mobile-nav-enter-active,
.mobile-nav-leave-active {
  transition: all 1s ease;
}

.mobile-nav-enter {
  transform: translateX(-250px);
}
.mobile-nav-enter-to {
  transform: translateX(0);
}
.mobile-nav-leave-to {
  transform: translateX(-250px);
}
</style>
