<template>
  <div class="toggleEdit">
    <div class="toggle-edit">
      <span>Toggle Editing Post</span>
      <input type="checkbox" v-model="editPost" />
    </div>
  </div>
</template>

<script>
export default {
  name: "ToggleEdit",
  data() {
    return {};
  },
};
</script>

<style></style>
