<template>
  <div class="toggle-edit">
    <span>Toggle Editing Post</span>
    <input type="checkbox" v-model="editPost" />
  </div>
</template>

<script>
export default {
  name: "ToggleEdit",
  data() {
    return {};
  },
  computed: {
    editPost: {
      get() {
        return this.$store.state.editPost;
      },
      set(payload) {
        return this.$store.commit("toggleEditPost", payload);
      },
    },
  },

  beforeDestroy() {
    return this.$store.commit("toggleEditPost", false);
  },
};
</script>

<style></style>
